<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="EI=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuochi</title>
    <link rel="stylesheet" href="/css/stileCuochi.css" />
</head>

<body>
    <nav class="navbar">
		<a href="/" class="logo">SiwFood</a>
		<ul class="nav-links">
			<li>
				<a class="nav-link" href="/cuochi">Cuochi</a>
			</li>
			<li>
				<a class="nav-link" href="/ricette">Ricette</a>
			</li>
			<li class="active" th:unless="${userDetails}">
				<a class="nav-link" href="/register">Registrati</a>
			</li>
			<li class="ctn" th:unless="${userDetails}">
				<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="ctn" th:if="${userDetails}">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>
	</nav>

    <div class="container">
        <h1>Lista dei Cuochi</h1>
        <ul class="cuochi-list">
            <li class="cuoco-item" th:each="cuoco : ${cuochi}">
                <a class="cuoco-link" th:href="@{/cuochi/{id}(id=${cuoco.id})}">
                    <span class="cuoco-nome" th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></span>
                </a>
                <span class="cuoco-data" th:text="${cuoco.dataNascita}"></span>
            </li>
        </ul>
        <div class="link-container">
            <a class="nav-link" href="/cuochi/search">Vai alla pagina di ricerca dei cuochi</a>
        </div>
        <div class="link-container">
            <a class="nav-link" href="/admin/addCuoco">Vai alla pagina per l'aggiunta di un cuoco</a>
        </div>
        </div>
    </div>
</body>

</html>
